/* Основа */
body {
    margin: 20px auto 0;
    width: 80vw;
    min-width: 280px;
    font-family: Roboto, serif;
}

/* Главная */
main {
    display: grid;
    grid-template-areas:    "general-city"
                            "add-favorite"
                            "favorite-cities";
    /* grid-template-columns: repeat(2, calc(40vw - 32px)); */
    /* column-gap: 64px; */
}


/* Переопределение кнопок */
button {
    outline: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: gray;
}

/* Заголовок сайта */
#weather-header {
    grid-area: weather;
    margin: 0;
    padding: 0;
    font-weight: 400;

    word-break: normal;
}
/* Кнопка обновления */     
#update-geolocation {
    grid-area: update;
    margin: auto;
    background-color: lightgray;
}
#update-geolocation:hover {
    background-color: gray;
}

/* Главный город */
#general-city {
    display: grid;
}
#general-general {
    display: grid;
    grid-template-areas:    "name name"
                            "ico temperature";
}
#general-general h2 {
    grid-area: name;
    font-size: 50px;
    margin: 10px 0;
    min-width: 280px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#general-general .temperature {
    grid-area: ico;
    font-size: 75px;
}
#general-general .weather-img {
    margin: auto 0 auto auto;
    grid-area: temperature;
    align-self: center;
    width: 85px;
}

/* Информация о погоде */
li {
    list-style: none;
}
h3 {
    margin: 10px 0;
}
.city-info {
    display: grid;
    grid-template-columns: 2fr 1fr 40px;
}
.city-info h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    margin-right: 8px;
    font-size: 32px;
    align-self: center;
}
.weather-details {
    padding: 0;
    margin: 0;
    align-self: center;
}
.weather-details li {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    margin: 5px 0;

    background-color: gray;
    color: white;
}
.property {
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-right: 10px;
}
.value {
    font-weight: 300;
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.city-interaction {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 30px;

    background-color: lightgray;
}

#add-favorite {
    display: grid;
}
#add-favorite h2 {
    font-weight: 400;
    margin: auto auto auto 0;
}
#add-city {
    display: flex;
    justify-content: space-between;
    align-self: center;
}
#add-city input {
    height: 20px;
    resize: none;
    outline: none;
    font-family: inherit;
    border-radius: 0;
    border: none;
    background-color: rgb(216, 216, 216);
    padding: 10px 0 10px 10px;
}

#favorite-cities {
    padding: 0;
    margin: 0;
}

.temperature {
    height: min-content;
    align-self: center;
}
.city-info img {
    align-self: center;
    width: 50px;
}
.city-info .city-interaction {
    align-self: center;
    margin: 0 0 0 0;
}
.city-info .temperature {
    font-size: 24px;
}

.short-info {
    display: flex;
    align-self: center;
    margin: 0 24px 0 auto;
}
.short-info .temperature {
    align-self: center;
    margin-right: 12px;
}