@media (min-width: 769px) {
    header {
        display: grid;
        grid-template-areas: "weather update empty";
        grid-template-columns: repeat(3, 1fr);
    }
    main {
        display: grid;
        grid-template-areas:    "general general-details"
                                "favorite add-city"
                                "favorite-cities favorite-cities";
        grid-template-columns: 1fr 1fr;
        column-gap: 64px;
        row-gap: 24px;
    }
    #general {
        grid-area: general;
    }
    #general-details {
        grid-area: general-details;
    }
    #favorite {
        grid-area: favorite;
    }
    #add-city {
        grid-area: add-city;
    }
    #favorite-cities {
        grid-area: favorite-cities;
    }
}