@media (max-width: 768px) {
    /* Заголовок */
    header {
        display: grid;
        grid-template-areas: "weather update";
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 16px;
    }

    /* Стиль кнопки */
    #update-geolocation {
        text-align: center;

        width: 50px;
        height: 50px;
        padding: 10px;

        font-family: Roboto, serif;
        font-weight: 600;
        border-radius: 50%;
    }
    #update-text {
        display: none;
    }
    #update-symbol {
        display: block;
        font-size: 20px;
    }
    
    /* Главная */
    main {
        grid-template-columns: 80vw;
        gap: 16px;
    }

    /* Избранные города */
    #favorite-cities {
        display: grid;
        row-gap: 24px;
    }

    /* Особенности */
    #general-city h2 {
        width: 80vw;
    }
    #add-favorite {
        row-gap: 12px;
    }
    #add-city input {
        width: calc(95% - 40px);
        margin: 0;
    }
    .weather-details li {
        width: calc(80vw - 12px);
        min-width: 268px;
    }
}